/* BASIC STYLES */
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #adabab;
    
}
  
header {
    height: 0px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #616060;
}
  
h5 {
    height: 30px;
    margin-top:10px;
    background: #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #616060;
}

#button {
    background-color: crimson;
} 

#container_newsletter {
    padding-top: 0px;

}

#sign_up {
    padding-top: 50px;
}

h2 {
    height: 20px;
    margin-top:50px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #616060;

}
p {
    height: 70px;
    padding: 60px;
    background: transparent;
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    justify-content: center;
}
  
ul {
    list-style: none;
}
  
/* NAV BAR */
#nav_bar {
    background: transparent;
    display: flex;
    justify-content: center;
    
}

#nav_bar li {
    display: inline-block;
    color: #adabab;
    padding: 13px;
    padding-bottom: 0px;
}
  

.nav-links {
    color: #666666;
}
  
a {
    text-decoration: none;
    color: inherit;
}
  
li.nav-links a:hover {
    text-decoration: underline;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

/* CAROUSEL */


/* Newsletter */
/* Style the form element with a border around it */
form {
    border: 4px solid #f1f1f1;
  }
  
  /* Add some padding and a grey background color to containers */
  .container {
    padding: 20px;
    background-color: white;
  }
  
  /* Style the input elements and the submit button */
  input[type=text], input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Add margins to the checkbox */
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  
  input[type=submit]:hover {
    opacity: 0.8;
  }
/* FOOTER */
footer  {
    background: transparent;
    border-top: solid 1px #adabab;
  /*   position: fixed; */
    bottom: 0;
    padding-bottom: 0;
    width: 100%;
    
}
  
footer ul li {
    display: inline;
    color: #666666;
    font-size: 14px;
    padding: 12px;
}
  
footer ul {
    float: left;
    padding: 1px;
}
  
footer ul a:hover {
    text-decoration: underline;
}

.footer-right {
    float: right;
}
  

/* MEDIA QUERIES */
@media screen and (max-width: 400px) {
    li.nav-links a {
        display: none;
    }
      
    footer {
        bottom: 0;
    }
     
    footer ul {
        float: none;
        padding-bottom: 2px;  
    }
     
    .footer-left {
        text-align: center;
        margin: auto; 
        padding-top: 10px;   
    }

    .footer-right {
        float: none;
        text-align: center;
    }

}
   
@media screen and (max-width: 565px) {
    li.nav-links a {
        display: none;
     }
     
    footer {
    /*bottom: 0;
      postion: absolute; */
        position:absolute;
        bottom:0;
        width:100%;
        height:40px;
    }
     
    footer ul {
        float: none;
        padding-bottom: 2px;
    }
     
    .footer-left {
      text-align: center;
      margin: auto; 
      padding-top: 10px;
       
    }
     
    .footer-right {
      float: none;
      text-align: center;
      
    }
   }
   
   
   